/* Keyframe animation for the first cloud */
@keyframes float1 {
  0% {
    transform: translateX(-50vw);
    /* Start cloud off-screen to the left */
  }

  100% {
    transform: translateX(50vw);
    /* Move cloud off-screen to the right */
  }
}

/* Keyframe animation for the second cloud */
@keyframes float2 {
  0% {
    transform: translateX(-25vw);
    /* Start cloud off-screen to the left */
  }

  100% {
    transform: translateX(50vw);
    /* Move cloud off-screen to the right */
  }
}

/* Keyframe animation for the third cloud */
@keyframes float3 {
  0% {
    transform: translateX(-12vw);
    /* Start cloud off-screen to the left */
  }

  100% {
    transform: translateX(50vw);
    /* Move cloud off-screen to the right */
  }
}

.cloud {
  display: block;
  /* By default, show clouds */
  position: absolute;
  width: 350px;
  height: 120px;
  background: #ECEFF1;
  box-shadow: 10px 10px #b95631;
  border-radius: 100px;
}

.cloud::after,
.cloud::before {
  content: "";
  position: absolute;
  background: inherit;
  border-radius: inherit;
}

.cloud::after {
  width: 100px;
  height: 100px;
  top: -40px;
  /* Adjusted vertical spacing */
  left: 50px;
}

.cloud::before {
  width: 180px;
  height: 180px;
  top: -60px;
  /* Adjusted vertical spacing */
  left: 130px;
}


.cloud1 {
  top: 30%;
  /* Adjusted vertical positioning */
  animation: float1 35s linear infinite;
}

.cloud2 {
  top: 50%;
  /* Adjusted vertical positioning */
  animation: float2 30s linear infinite;
}

.cloud3 {
  top: 70%;
  /* Adjusted vertical positioning */
  animation: float3 40s linear infinite;
}

/* Make clouds smaller for mobile screens */
@media screen and (max-width: 768px) {
  .cloud {
    width: 200px;
    height: 70px;
  }

  .cloud::after {
    width: 60px;
    height: 60px;
    top: -25px;
    left: 30px;
  }

  .cloud::before {
    width: 90px;
    height: 90px;
    top: -35px;
    left: 80px;
  }

  .cloud1 {
    top: 30%;
    /* Adjusted vertical positioning */
    animation: float1 20s linear infinite;
  }

  .cloud2 {
    top: 50%;
    /* Adjusted vertical positioning */
    animation: float2 15s linear infinite;
  }

  .cloud3 {
    top: 70%;
    /* Adjusted vertical positioning */
    animation: float3 25s linear infinite;
  }
}
