/*GENERAL*/

body {
    color: #282525;
    background-color: #C5CBE3;
    display: flex;
    flex-direction: column;
    padding-bottom: 125px;
    overflow: scroll;
}

img {
    max-width: 100%;
    align-self: center;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Unbounded', cursive;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    
}

h2 {
    font-size: 28px;  
    line-height: 28px;
}

h3 {
    font-size: 24px;  
    line-height: 24px;

}

h4 {
    font-size: 18px;  
    line-height: 18px;

}

p1, p2, p3{
    font-family: 'JetBrains Mono', monospace;
}


p1 {
    font-size: 20px;  
    line-height: 24px;
    font-weight: 100;

}


p2 {
    font-size: 18px;
    line-height: 22px;  
    font-weight: lighter;

}

p3 {
    font-size: 16px;
    line-height: 20px;  
    font-weight: lighter;

}

a {
    color: #282525;
    text-decoration: none;
}

.section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    box-shadow: 13px 13px 2px #282525;
}

.section.top-sec {
    margin-top: 0px;
    position: relative;
    z-index: 4;
    box-shadow:unset;
}

.top-sec .title-frame {
    display: none;
}


.title-frame {
    text-align: left;
    width: 1000px;
    height: 40px;
    position: relative;
    z-index: 5;
    padding: 10px 0px; /* T R D L */
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    background-color: #a4cd8e;
    outline-style: solid;
    outline-color:  #80a46c;
    outline-width: thin;
}

.title-frame h2 {
    margin: 0;
    padding: 7px 28px;
    width: max-content;
}

.title-frame p1 {
    margin: 0;
    padding: 7px 28px;
    color:  #80a46c;
    width: max-content;
}

.content-frame {
    width: 1000px;
    margin-top: 1px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #eae6d6;
    outline-style: solid;
    outline-color:  #d7d3c0;
    outline-width: thin;
    position: relative;
    z-index: 4;
}

a:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}




@media screen and (max-width: 840px) {
    .fix {
        max-width: 90%;
    }

    html, body {
        overflow-x: hidden;
    }
    
    body {
        position: relative;
        margin: 1px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 36px;
        line-height: 36px;
    }
    
    h2 {
        font-size: 26px;  
        line-height: 26px;
    }

    h4 {
        font-size: 18px;  
        line-height: 18px;
    }


    p1 {
        font-size: 16px;  
        line-height: 22px;
    
    }

    p2 {
        font-size: 16px;
        line-height: 18px; 
    
    }

    .section {
        z-index: 1;
        width: 100%;
        margin-top: 25px;
        box-shadow: none;
    }
    
    .section.top-sec {
        z-index: 1;
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .section.top-sec.index {
        margin-top: 35%;
    }
    
    .title-frame {
        text-align: center;
        width: auto;
        height: 30px;
    }
    
    .title-frame h2 {
        margin: 0;
        padding: 3px 18px;
    }

    .title-frame p1 {
        display: none;
    }
    
    .content-frame {
        width: auto;
        margin-top: 1px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        position: relative;
        z-index: 1;
    }
 
}

/*NAVBAR*/

#logo {
    display: inline-flex;
    padding: 10px 30px;
    color: #282525;
    font-size: 35px;
    font-family: 'Unbounded', cursive;
    font-weight: 500;
    text-decoration: none;
    z-index: 5;
}

#logo .lighter {
    font-weight: 300;
}

#logo a { 
    text-decoration: none;
} 

.nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 5;

    background-color: #a4cd8e;
    outline-style: solid;
    outline-color:  #80a46c;
    outline-width: thin;
    
    /* box-shadow: 15px 15px #282525; */
}

.nav .links {
    padding-right: 30px;
}

.nav a {
    color: #181818;
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    font-size: 22px;
    display: inline-block;
    margin-right: -4px;  
    padding: 18px 20px;

    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.nav .icon {
    display: none;
}

#logo:hover, .icon:hover {
    font-style: unset;
    outline-style: none;
    background-color: transparent;
}

@media screen and (max-width: 840px) {

    .nav {
        width: 100%;
        position: fixed;
        z-index: 2;
        left: 0;
        right: 0;
        box-shadow: none;
        justify-content: end;
    }

    #logo {
        font-size: 25px;
        float: left;
        position: absolute;
        top: 5px;
        left: -10px;
    }

    .nav a {display: none;}
    
    .nav .icon {
        padding-top: 12px;
        font-size: 28px;
        width: 30px;
        display: block;
    }

    .nh .nav {
        margin-top:unset;
    }

}

@media screen and (max-width: 840px) {

    .nav .links {
        padding-right: unset;
      }

    .nav.responsive .icon {
        position: fixed;
        right: 7px;
        top: 1px;
    }

    .nav.responsive #logo {
        position: absolute;
    }

    .nav.responsive {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        padding-top: 198px;
        z-index: 3;
    }

    .nav.responsive a {
        display: block;
        float: none;
        top: 50px;
        text-align: center;
    }

    .nav.responsive a:hover {
        outline-style: none;
        background-color: transparent;
        font-weight: 500;
    }
}

/*LANDING*/
.fa-solid.fa-arrow-down { display: none; }


#landing {
    min-height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#landing-section {
    width: 1000px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: 13px 13px 2px #282525;
}

.index #landing-section {
    margin-top: 10%;
}

/*INTRO */

.content-frame .intro {
    outline-style: solid;
    outline-color:  #c9c3aa;
    outline-width: thin;
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 80px 40px;
   
}

.intro h1 {
    width: max-content;
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro p1 {
    width: 100%;
    text-align: justify;
}


/*EXPERIENCE*/
.content-frame .experience {
    outline-style: solid;
    outline-color:  #c9c3aa;
    outline-width: thin;
    height: auto;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 25px 10px 15px;
}


.experience h3 {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 15px;
    width: max-content;
} 

.experience ul {
    width: max-content;
    list-style-type: "* ";
    line-height: 30px;
    margin: 0px;
    padding-left: 20x;
}

@media screen and (max-width: 840px) {

    #landing-section {
        width: unset;
        display: unset;
        flex-direction: unset;
        align-self: unset;
        box-shadow: unset;
        margin-top: unset;
    }

    #landing {
        max-height: 100vh;
        margin-top: unset;
        z-index: 10;
    }

    .index #landing-section {
        margin-top: unset;
      }

    .content-frame .intro{ 
        outline-style: unset;
        height: 100vh;
    }

    .content.intro {
        width: 100%;
        /* padding: 15px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section.index {
        margin-top: 50px;
    }

    .intro h1, .experience h3{
        margin: 10px;
    }

    .intro p1 {
        width: 80%;
        text-align: justify;
    }

 
    .experience h3 {
        font-size: 25px;  
        line-height: 25px;
    }

    .experience ul {
        width: max-content;
        padding-left: 13px;
    }

    .content.experience {
        margin: unset;
        padding: 10px unset;
    }

     .fa-solid.fa-arrow-down {
        color:#282525;
        display: flex;
        align-self: center;
        font-size: 6vh;
        margin: 35px auto;

    }

    .floating { 
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
     
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }

}