

/* Set height of body and the document to 100% */
.tabs {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Style tab links */
.tablink {
    font-family: 'JetBrains Mono', monospace;
    background-color: #a19d8c;
    float: left;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    padding: 20px 15px;
    font-size: 18px;
    width: 50%;
    position: relative;
    z-index: 4;
}

.tablink:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    /* padding: 100px 20px; */
    height: 100%;
}

.buttons {
    margin-top: 1px;
    display: flex;
    position: relative;
    z-index: 4;
    /* right: 1px; */
}


#technical {background-color: #e0d9be;}
#creative {background-color: #e0d9be;}
