body {
    color: #1b1b1b;
    background-color: #F6D085;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 45px;
    line-height: 45px;
    font-family: 'Shrikhand', cursive;
    
}

h2 {
    font-size: 32px;  
    line-height: 32px;
    font-family: 'Shrikhand', cursive;
}

h3 {
    font-size: 32px;  
    line-height: 32px;
    font-family: 'Shrikhand', cursive;
}

h4 {
    font-size: 24px;  
    line-height: 24px;
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'JetBrains Mono', monospace;
}


p1 {
    font-size: 20px;  
    line-height: 25px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;

}


p2 {
    font-size: 16px;
    line-height: 22px;  
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;

}

a {
    color: #1b1b1b;
    text-decoration: none;
}

.section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 22px 22px #1b1b1b;
}

.section.top-sec {
    margin-top: 0px;
}

.top-sec .title-frame {
    display: none;
}


.title-frame {
    text-align: left;
    width: 100%;
    height: 40px;
    position: relative;
    padding: 10px 0px; /* T R D L */
    overflow: hidden;
    
    background-color: #A7DCC1;
    outline-style: solid;
    outline-color:  #1b1b1b;
    outline-width: thin;
}

.title-frame h2 {
    margin: 0;
    padding: 5px 32px;
    width: max-content;
}

.content-frame {
    height: auto;
    width: 100%;
    margin-top: 1px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #F3E7D2;
    outline-style: solid;
    outline-color:  #1b1b1b;
    outline-width: thin;
    z-index: 1;
}

a:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

@media screen and (max-width: 660px) {
    .intro p1 {
        width: 95%;
        /* text-align: center; */
    }

}
@media screen and (max-width: 840px) {

    body {
       margin: 1px;
    }

    h1 {
        font-size: 36px;
        line-height: 36px;
    }
    
    h2 {
        font-size: 25px;  
        line-height: 25px;
    }

    h4 {
        font-size: 18px;  
        line-height: 18px;
    }


    p1 {
        font-size: 16px;  
        line-height: 22px;
    
    }

    p2 {
        font-size: 16px;
        line-height: 18px; 
    
    }

    .title-frame {
        background-color: #91cd9f;
        text-align: center;
        height: 30px;

    }

    .section {
        z-index: 1;
        width:100%;
        margin-top: 35px;
        box-shadow: none;
    }
    
    .section.top-sec {
        z-index: 1;
        margin-top: 60px;
    }
    
    .title-frame {
        text-align: center;
        width: 100%;
    }
    
    .title-frame h2 {
        margin: 0;
        padding: 5px 20px;
    }
    
    .content-frame {
        width: 100%;
        background-color: #e3ceaa;
        margin-top: 1px;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
    }

 
}

