@media screen and (max-width: 600px) {
  .title {
    font-size: 4.3vw;
    top: 9vw;
    /* Adjust top position */
    /* margin-bottom: 1vw; */
    /* Adjust margin to create space between title and img */
  }

  .subtitle {
    font-size: 3.2vw;
    /* top: 8vw; /* Adjust top position to avoid overlap with title */
    padding-top: 7vw; /* Add bottom padding to create space between subtitle and image */
  }

  .container {
    flex-direction: column;
    align-items: center;
    /* Center align items */
    width: 90%;
    padding: 10vw 5vw;
    margin-top: 22vw;
    /* Add top margin to create space between title and container */
  }

  .image-container {
    width: 100%;
    max-width: 300px;
    /* Adjust max-width for better fit */
    margin-bottom: 5vw;
    /* Adjust margin to create space between image-container and form */
  }

  .image-container img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
  }

  form {
    width: 85%;
    /* Full width */
    margin-left: 0;
    /* Align form to the center */
    margin-right: 0;
    /* Align form to the center */
    /* Add margin to create space between form and title */
  }
}
