/*NAVBAR*/

#logo {
    display: inline-flex;
    padding: 10px 30px;
    color: #1b1b1b;
    font-size: 35px;
    font-family: 'Unbounded', cursive;
    font-weight: 500;
    text-decoration: none;
    z-index: 5;
}

#logo .lighter {
    font-weight: 300;
}

#logo a { 
    text-decoration: none;
} 


.nav {
    display: flex;
    justify-content: space-between;
    /* width: 75%; */
    width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4;

    background-color: #a4cd8e;
    outline-style: solid;
    outline-color:  #1b1b1b;
    outline-width: thin;
    
    box-shadow: 15px 15px #1b1b1b;
}

.nh .nav {
    margin-top: 75px;
}

.nav .links {
    padding-right: 30px;
}

.nav a {
    color: #181818;
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    font-size: 22px;
    display: inline-block;
    margin-right: -4px;  
    padding: 18px 20px;

    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.nav .icon {
    display: none;
}

#logo:hover, .icon:hover {
    font-style: unset;
    outline-style: none;
    background-color: transparent;
}

@media screen and (max-width: 840px) {

    .nav {
        width: 100%;
        min-width: 345px;
        position: fixed;
        z-index: 2;
        left: 0;
        right: 0;
        box-shadow: none;
        justify-content: end;
    }

    #logo {
        font-size: 25px;
        float: left;
        position: absolute;
        top: 5px;
        left: -10px;
    }

    .nav a {display: none;}
    
    .nav .icon {
        padding-top: 12px;
        font-size: 28px;
        width: 30px;
        display: block;
    }

    .nh .nav {
        margin-top:unset;
    }

}

@media screen and (max-width: 840px) {

    .nav .links {
        padding-right: unset;
      }

    /* .nav.responsive {position: relative; top: 160px;} */
    .nav.responsive .icon {
        position: fixed;
        right: 7px;
        top: 1px;
    }

    .nav.responsive #logo {
        position: absolute;
    }

    .nav.responsive {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        padding-top: 198px;
        z-index: 3;
    }

    .nav.responsive a {
        display: block;
        float: none;
        top: 50px;
        text-align: center;
        /* z-index: 0; */
    }

    .nav.responsive a:hover {
        outline-style: none;
        background-color: transparent;
        font-weight: 500;
    }
}