

/* Set height of body and the document to 100% */
.tabs {
    height: 100%;
    margin: 0;
}

/* Style tab links */
.tablink {
    font-family: 'JetBrains Mono', monospace;
    background-color: #b3ae9b;
    outline-style: solid;
    outline-color:  #1b1b1b;
    outline-width: thin;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #e0d9be;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    /* padding: 100px 20px; */
    height: 100%;
}

#technical {background-color: #e0d9be;}
#creative {background-color: #e0d9be;}