/*GENERAL*/

body {
    color: #282525;
    /* background-color: #C5CBE3; */
    background-image: url("../media/stacked-waves-purple.svg");
    background-position:top;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 125px;
    overflow: scroll;
}

img {
    max-width: 100%;
    align-self: center;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Unbounded', cursive;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    
}

h2 {
    font-size: 28px;  
    line-height: 28px;
}

h3 {
    font-size: 24px;  
    line-height: 24px;

}

h4 {
    font-size: 18px;  
    line-height: 18px;

}

p1, p2, p3{
    font-family: 'JetBrains Mono', monospace;
}


p1 {
    font-size: 20px;  
    line-height: 24px;
    font-weight: 100;

}


p2 {
    font-size: 18px;
    line-height: 22px;  
    font-weight: lighter;

}

p3 {
    font-size: 16px;
    line-height: 20px;  
    font-weight: lighter;

}

a {
    color: #282525;
    text-decoration: none;
}

.section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    box-shadow: 13px 13px 2px #282525;
}

.section.top-sec {
    margin-top: 0px;
    position: relative;
    z-index: 4;
    box-shadow:unset;
}

.top-sec .title-frame {
    display: none;
}


.title-frame {
    text-align: left;
    width: 1000px;
    height: 40px;
    position: relative;
    z-index: 5;
    padding: 10px 0px; /* T R D L */
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    background-image: url("../media/stacked-waves-green.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #a4cd8e;
    outline-style: solid;
    outline-color:  #80a46c;
    outline-width: thin;
}

.title-frame h2 {
    margin: 0;
    padding: 7px 28px;
    width: max-content;
}

/* .works p1 {
    margin: 0;
    padding: 7px 28px;
    color:  #e4ebe1;
    width: max-content;
} */

.content-frame {
    height: auto;
    width: 1000px;
    margin-top: 1px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #faf7ea;
    outline-style: solid;
    outline-color:  #e8e4d2;
    outline-width: thin;
    position: relative;
    z-index: 4;
}

a:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}




@media screen and (max-width: 840px) {

    body {
        background-color: #C5CBE3;
        background-image: unset;
    }

    .hor {
        max-width: 90%;
    }

    html, body {
        overflow-x: hidden;
    }
    
    body {
        position: relative;
        margin: 1px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 36px;
        line-height: 36px;
    }
    
    h2 {
        font-size: 26px;  
        line-height: 26px;
    }

    h4 {
        font-size: 18px;  
        line-height: 18px;
    }


    p1 {
        font-size: 16px;  
        line-height: 22px;
    
    }

    p2 {
        font-size: 16px;
        line-height: 18px; 
    
    }

    .section {
        z-index: 1;
        width: 100%;
        margin-top: 0px;
        box-shadow: none;
    }
    
    .section.top-sec {
        z-index: 1;
        margin-top: 60px;
        margin-bottom: 0px;
    }
    
    .title-frame {
        text-align: center;
        width: auto;
        height: 30px;
    }
    
    .title-frame h2 {
        margin: 0;
        padding: 3px 18px;
    }

    .title-frame p1 {
        display: none;
    }
    
    .content-frame {
        background-image: url('../media/wave-haikei.svg');
        background-position:bottom;
        width: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        z-index: 3;
    }
 
}

/*NAVBAR*/

#logo {
    display: inline-flex;
    padding: 10px 30px;
    color: #282525;
    font-size: 35px;
    font-family: 'Unbounded', cursive;
    font-weight: 500;
    text-decoration: none;
    z-index: 5;
}

#logo .lighter {
    font-weight: 300;
}

#logo a { 
    text-decoration: none;
} 

.nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 5;

    background-image: url("../media/stacked-waves-green.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #a4cd8e;
    outline-style: solid;
    outline-color:  #80a46c;
    outline-width: thin;
    
    /* box-shadow: 15px 15px #282525; */
}

.nav .links {
    padding-right: 30px;
}

.nav a {
    color: #181818;
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    font-size: 22px;
    display: inline-block;
    margin-right: -4px;  
    padding: 18px 20px;

    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.nav .icon {
    display: none;
}

#logo:hover, .icon:hover {
    font-style: unset;
    outline-style: none;
    background-color: transparent;
}

@media screen and (max-width: 840px) {

    .nav {
        width: 100%;
        position: fixed;
        z-index: 5;
        left: 0;
        right: 0;
        box-shadow: none;
        justify-content: end;
    }

    #logo {
        font-size: 25px;
        float: left;
        position: absolute;
        top: 5px;
        left: -10px;
    }

    .nav a {display: none;}
    
    .nav .icon {
        padding-top: 12px;
        font-size: 28px;
        width: 30px;
        display: block;
    }

    .nh .nav {
        margin-top:unset;
    }

}

@media screen and (max-width: 840px) {

    .nav.responsive { 
        background-image: none;
    }

    .nav .links {
        padding-right: unset;
      }

    .nav.responsive .icon {
        position: fixed;
        right: 3px;
        top: 1px;
    }

    .nav.responsive #logo {
        position: absolute;
    }

    .nav.responsive {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        padding-top: 198px;
        z-index: 5;
    }

    .nav.responsive a {
        display: block;
        float: none;
        top: 50px;
        text-align: center;
    }

    .nav.responsive a:hover {
        outline-style: none;
        background-color: transparent;
        font-weight: 500;
    }
}

/*LANDING*/
.fa-solid.fa-arrow-down { display: none; }


#landing {
    min-height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#landing-section {
    width: 1000px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
    box-shadow: 13px 13px 2px #282525;
}

.home #landing-section {
    margin-top: 10%;
}

/*INTRO */

.content-frame .intro {
    outline-style: solid;
    outline-color:  #e8e4d2;
    outline-width: thin;
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 80px 40px;
   
}

.intro h1 {
    width: max-content;
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro p1 {
    width: 100%;
    text-align: justify;
}


/*EXPERIENCE*/
.content-frame .experience {
    outline-style: solid;
    outline-color:  #e8e4d2;
    outline-width: thin;
    height: auto;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 25px 10px 15px;
}


.experience h3 {
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 15px;
    width: max-content;
} 

.experience ul {
    width: max-content;
    list-style-type: "* ";
    line-height: 30px;
    margin: 0px;
    padding-left: 20x;
}

@media screen and (max-width: 840px) {

    #landing-section {
        width: unset;
        display: unset;
        flex-direction: unset;
        align-self: unset;
        box-shadow: unset;
        margin-top: unset;
    }

    #landing {
        max-height: 100vh;
        margin-top: unset;
        z-index: 10;
    }

    .home #landing-section {
        margin-top: unset;
    }

    /* .section.top-sec.index {
        margin-top: 10%;
    } */

    .content.intro {
        width: 100%;
        display: flex;
        height: 100vh;
        /* padding: 35vh 0px; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .index .content-frame {
        height: 100vh;
    }

    .content.experience {
        display: none;
    }

    .intro h1, .experience h3{
        margin: 10px;
    }

    .intro h1 {
        margin-top: -35vh;
    }

    .intro p1 {
        width: 80%;
        text-align: justify;
    }

 
    .experience h3 {
        font-size: 25px;  
        line-height: 25px;
    }

    .experience ul {
        width: max-content;
        padding-left: 13px;
    }

    .content.experience {
        margin: unset;
        padding: 10px unset;
    }

     .fa-solid.fa-arrow-down {
        color:#282525;
        display: flex;
        align-self: center;
        font-size: 6vh;
        margin: 60vh auto;
        position: absolute;
        z-index: 4;
    }

    .floating { 
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
     
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }

}

/*CASES*/

.content-frame .case{ 
    padding-bottom: 20px;
}

.content.post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 75px;
} 

.row-1 h2{
    width: max-content;
    flex: 2 1 40%
}


.row-1 p3 {
    margin-top: 20px;
    width: 70%;
    word-wrap: break-word;
    text-align: justify;
}
.case-type p3 {
    font-weight: 100;
}

.view-project {
    text-align: right;
    padding: 15px;
    margin: 0;
    font-weight: 400;

}

.content.extras .pics, .content.post .pics {
    padding: 25px 40px;
    width: auto;
    display: flex;        
    flex-wrap: wrap;
    justify-content: center;

}

.content.extras h2 {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    align-self: start;
}

/* TABS */
.tabs {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.tablink {
    font-family: 'JetBrains Mono', monospace;
    background-color: #a19d8c;
    float: left;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px;
    font-size: 18px;
    width: 50%;
    position: relative;
    z-index: 4;
}

.tablink:hover {
    font-style: italic;
    text-decoration: none;
    font-weight: 500;
}

.tabcontent {
    display: none;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons {
    display: flex;
    position: relative;
    z-index: 4;
}


/* #technical {background-color: #faf7ea;}

#creative {background-color: #faf7ea;} */


.cases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../media/wave-haikeiB.svg')
 } 

.case.half{
    flex: 1 2 46%;
    padding: 25px 20px;
    outline-style: solid;
    outline-color:  #e8e4d2;
    outline-width: thin;
     
}

.content.half {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case.half h2 {
    font-size: 25px;  
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 0px;
}

.case.half .case-type p3{
    display: block;
    width: max-content;
    justify-self: center;
    margin: 5px auto 25px auto;

}

.case.half .view-project {
    width: max-content;
    margin: 10px auto;
    padding-bottom: 0;
    font-weight: 400;
}


.case .descrip { display: none;}

.case.post img {
    padding: 25px;
    width: 50%;
    height: auto;
}

.case.post .pics img {
    padding: 25px;
    width: 40%;
    height: auto;
}

.case.half .hor, .case.post .hor {
    width: 80%;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    
}

.case.post .hor {
    width: 50%;
}



@media screen and (max-width: 840px) {

    .case.half img {
        padding-bottom: 30px;
    }

    .case.post img {
        max-height: 100%;
        width: 80%; 
        display: flex;
        align-items: center;
    }

    .case.post .pics img {
        max-height: 80%;
        width: 100%; 
        display: flex;
        align-items: center;
    }

    .content-frame .case{ 
        padding-bottom: unset;
    }
    
    .row-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin: 0;
        text-align: center;
    } 
    
    
    .row-1 h2{
        width: max-content;
        flex: unset;
        align-self: center;
        margin-bottom: 0px;
        margin-top: 55px;
    }
    
    
    .row-1 p3 {
        margin-top: 15px;
        width: 85%;
        align-self: center;
    }
    .case-type p3 {
        font-weight: 100;
        
    }
    
    .view-project {
        text-align: right;
        padding: 30px 10px;
        margin: 0;
        font-weight: 400;
    }

    .content.case.half {
        height: fit-content;
        width: auto;
        justify-content: center;
        text-align: center;
    }


    .case .descrip { display: none;}

    .content.extras .pics {
        width: unset;
    }

    .content.extras h2 {
        align-self: center;
        margin-left: unset;
        text-align: center;
    }

    .works .title-frame {
        margin-top: 62px;
    }
}

/*FOLIOS*/

.content.foliobtns, .content.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* .button p1 { width: max-content;} */

.contact{
    background-position: center;
    background-image: url("../media/wave-haikei.svg");
}

.content-frame .fbtn {
    flex: 30%;
    padding: 40px 0px;
}

.content-frame .cbtn {
    flex: 20%;
    padding: 30px 0px;
}


.content-frame .fbtn, .content-frame .cbtn {
    outline-style: solid;
    outline-color:  #d7d3c0;
    outline-width: thin;
}

.contact a { padding: 0px 15px;}

#fullfolio .title-frame{
    height: 30px;
    padding: unset;
}


.content.folio-desc {
    margin: 20px auto 20px auto;
}

.content.folio-desc p1 {
    display: block;
    width: 75%;
}

.fullfolio .content-frame {      
    flex-wrap: wrap;
}



@media screen and (max-width: 840px) {

    .foliobtns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .content-frame .fbtn, .content-frame .cbtn {
        flex: 50%;
        padding: 20px 0px;
    } 

    .content.contact {
        flex: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: unset;
        margin-top: -1px;
        text-align: center;
    }

}

/*ABOUT PAGE*/

.content-frame .about {
    padding: 35px 30px;
    outline-style: solid;
    outline-color:  #d7d3c0;
    outline-width: thin;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content.about img {
    align-self: center;
    margin-top: 15px;
    width: 300px;
    outline-style: solid;
    outline-color:  #d7d3c0;
    outline-width: thin;
}

.content.about h2 {
    margin-left: 5px;
    margin-bottom: 15px;
}

.content.about p3 { 
    text-align: justify; 
    line-height: 25px;
}

.content-frame .interests {
    outline-style: solid;
    outline-color:  #d7d3c0;
    outline-width: thin;
    flex: 1 1 50%;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
}

.content.interests h4 {
    width: max-content;
    margin: 0;
    padding: 12px 0px;

}

.content.interests ul {
    list-style-type: "* ";
    line-height: 28px;
    margin: 0;

}

.interests li { line-height: 25px; }

@media screen and (max-width: 840px) {

    .content.interests h4 {
        width: max-content;
        margin: 0;
        padding: unset;
        padding-right: 200px;
    
    }

    .content.interests ul {
        line-height: 18px;
        padding: 15px 10px 15px 25px;
    
    }

}
