/*INTRO - TWO THIRD*/

.content-frame .intro {
    height: 300px;
    outline-style: solid;
    outline-color:  #181818;
    outline-width: thin;
    flex: 1 2 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro h1 {
    margin-right: 160px;
    margin-bottom: 15px;
}

.intro p1 {
    margin: 50px;
    margin-top: 0px;
    text-align: justify;
    
}

/*INTRO - ONE THIRD*/
.content-frame .experience {
    margin-left: 1px;
    flex: 1 2 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content.experience {
    margin: 20px 25px 0px;
    
} 

.experience h3 {
    margin-right: 40px;
    
} 

.experience ul {
    list-style-type: "* ";
    line-height: 25px;
    margin: 0px;
    padding-left: 15px;
}

/*FULL CASE*/

.content-frame .case{ 
    height: 600px;
}


.row-1, .row-2 {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
} 

.row-2 {
    justify-content: right;
}

.row-1 h2{
    width: max-content;
    flex: 2 1 190px;
}


.row-1 p3 {
    margin-top: 30px;
    width: 65%;
    word-wrap: break-word;
    text-align: justify;

}

.case-type p3 {
    font-weight: 100;
}

.row-2 .view-project {
    padding: 0;
    margin: 0;
    margin-top: 35px;
    font-weight: 600;

}

.view-project :hover {
    text-decoration: none;
    font-style: italic;
}

.row-3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.case img {
    width: 650px;
    height: 350px;
    /* outline-style: solid;
    outline-color:  #181818;
    outline-width: thin; */
    
}


/*HALF CASE*/
.content-frame .case.half{ 
    width: 500px;
    flex: 1 1 500px;
}

.content-frame .half.L {
    outline-style: solid;
    outline-color:  #181818;
    outline-width: thin;
}

.half .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.case.half h2 {
    width: max-content;
    margin-bottom: 15px;
    /* padding-right: 200px;
    padding-left: 38px; */
}

.case.half .case-type {
    width: max-content;
    padding-left: 0px;
    /* padding-right: 328px; */
}

.case.half p3 {
    display: block;
    text-align: justify;
    margin: 0;
    margin: 0px 45px 10px 45px;
}

.case.half .view-project {
    width: max-content;
    /* margin-left: 300px; */
    padding-bottom: 0;
    /* margin-bottom: 15px; */
    font-weight: 600;
}

.case.half img {
    width: 400px;
    height: 250px;
    padding: 0;
    margin: 0;
}

/*FOLIOS*/

.folio {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.button p1 {
    width: max-content;

}

.content-frame .button {
    flex: 1 1 500px;
    padding: 50px 0px;
}

.content-frame .button.L {
    outline-style: solid;
    outline-color:  #181818;
    outline-width: thin;
}


.button a:hover {
    font-style: italic;

    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

/* CONTACT */

.content.contact {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0px;

}

.contact a {
    padding: 0px 15px;
}

.contact a:hover {
    text-decoration: none;
    font-style: italic;

    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

/*ABOUT */

.content-frame .about {
    height: 800px;
    outline-style: solid;
    outline-color:  #181818;
    outline-width: thin;
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content.about img {
    margin-top: 15px;
    width: 350px;
    height: 350px;
    outline-style: solid;
    outline-color:  #181818;
    outline-width: thin;
    
}


.content.about h2 {
    margin: 0;
    margin-right: 240px;
}

.content.about p3 {
    margin: 10px 30px;
    text-align: justify;

}


/*INTERESTS */

.content-frame .interests {
    height: 750px;
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.content.interests p3 {
    padding: 0;
    margin: 0;
}

.content.interests h4 {
    margin: 0;
    padding: 12px 60px;
    padding-right: 200px;

}

.content.interests ul {
    list-style-type: "* ";
    line-height: 20px;
    padding: 0;
    padding-left:80px;
    padding-right: 20px;
    margin: 0;

}

.interests li {
    line-height: 25px;
}